.container {
    justify-items: center;
    align-items: center;
    margin-top: 200px;
}
 body {
    background-color: darkblue;
 }   
 .btn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
 }