.container {
    justify-items: center;
    align-items: center;
    margin-top: 200px;
}
 body {
    background-color: rgb(172, 172, 216);
 }   
 .btn {
    width: 90%;
    margin-top: 35px;
    margin-bottom: 35px;
 }